<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.mapper.TeamMapper">
    <select id="selectById"  resultType="team" parameterType="int">
        select * from team where tid = #{tid}
    </select>

    <resultMap id="z" type="team" autoMapping="true">
     <collection property="players" column="tid" ofType="Player"
                 select="com.hhit.mapper.PlayerMapper.selectByTid">
     </collection>
    </resultMap>
    <select id="teamList" resultMap="z">
        select * from team
    </select>
</mapper>