<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.mapper.TeamMapper">
    <resultMap id="oneToMany" type="Team">
        <id property="tid" column="tid"></id>
        <result property="tname" column="tname"></result>
        <collection property="players" ofType="Player">
            <id property="pid" column="pid"></id>
            <result property="pname" column="pname"></result>
            <result property="tid" column="tid"></result>
        </collection>
    </resultMap>

    <select id="selectList" resultMap="oneToMany">
        select *
        from team t
                 join player p on t.tid = p.tid
    </select>
</mapper>