<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhit.mapper.UsersMapper">
    <resultMap id="manyToMany" type="Users" autoMapping="true">
        <id property="uid" column="uid"></id>
        <collection property="roles" ofType="Roles" autoMapping="true">
         <id property="rid" column="rid"></id>
        </collection>
    </resultMap>

    <select id="selectList" resultMap="manyToMany">
        select *from users u,roles r,users_roles ur
        where u.uid = ur.uid and r.rid = ur.rid
    </select>
    
    <select id="login" resultMap="manyToMany">
        select *from users u,roles r,users_roles ur
        where u.uid = ur.uid and r.rid = ur.rid and u.uname = #{uname} and u.password = #{password}
    </select>

    <delete id="delete" parameterType="int">
        delete from roles where rid = #{rid}
    </delete>
</mapper>